.button {
  background-color:rgba(159, 191, 198, 0.7);
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button_learn {
  background-color:rgba(191, 155, 175, 0.7);

}
.button_play {
  background-color:rgba(145, 163, 191, 0.7)
}

.button:hover {
    background-color:rgba(159, 191, 198, 1);
}

.button_learn:hover {
    background-color:rgba(191, 155, 175, 1);
  
  }
  .button_play:hover {
    background-color:rgba(145, 163, 191, 1)
  }

.button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button:focus-visible {
  box-shadow: none;
}

.button_container{
    display:flex;
    flex-direction:column;
    padding: 15px;
    gap: 10px;
}

.button_container_learn{
    position: absolute;
    left: 0;
    bottom: 1%;
    width: 100%;

}

.quiz-box {
  margin-top: 20px;
}

.copyright{
  position: absolute;
  bottom: 0;
  right: 20px;
  font-size: 12px;
  color: 	white;
}